<%= form_for(@exercise_log) do |f| %>
    <% if @exercise_log.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @exercise_log.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row collapse">
      <div class="small-3 columns">
        <%= f.label :exercise_date, class: "right inline", title: "Date of the meal", data: {tooltip: true} %>
      </div>
      <div class="small-9 columns">
        <div class="date">
          <%= f.text_field :exercise_date, :placeholder => "click to select" %>
        </div>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-3 columns">
        <%= f.label :duration, class: "right inline", title: "Type of activity", data: {tooltip: true} %>
      </div>
      <div class="small-9 columns">
        <%= f.number_field :length, :placeholder => "in minutes" %>
      </div>
    </div>
    <div>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
    <div class="row collapse">
      <div class="small-3 columns">
        <%= f.label :activity_type, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= collection_select(:exercise_log, :activity_id, Activity.all, :id, :name, {include_blank: true, :data => {:placeholder => "Select activity"}}, {:class => "chosen-select", :tabindex => "-1", :style => "width:350px;", }) %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-9 small-offset-3 columns">
        <%= f.submit%>
      </div>
    </div>
<% end %>
