<h1>Profile</h1>

<table>
  <tr>
    <th>Gender</th>
    <th>Pregnant</th>
    <th>Brestfeeding</th>
    <th>Height</th>
    <th>Dob</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


  <tr>
    <td><%= @profile.gender %></td>
    <td><%= @profile.pregnant %></td>
    <td><%= @profile.brestfeeding %></td>
    <td><%= @profile.height %></td>
    <td><%= @profile.dob %></td>
    <td><%= link_to 'Show', @profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(@profile) %></td>
    <td><%= link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

</table>

<br />
 <% unless @profile %>
<%= link_to 'New Profile', new_profile_path %>
<% end %>
