<div>
  <div id="notice_signed_in" class="notice hide"><%= notice %></div>
  <div id="alert_signed_in" class="alert hide"><%= alert %></div>
</div>

<h1>Profile</h1>
<%= link_to 'Back', profiles_path, class: "small button radius" %>

<p>
  <b>Gender:</b>
  <%= @profile.gender %>
</p>

<% if @profile.gender == "female" %>
    <p>
      <b>Pregnant:</b>
      <%= @profile.pregnant %>
    </p>

    <p>
      <b>Brestfeeding:</b>
      <%= @profile.brestfeeding %>
    </p>
<% end %>
<p>
  <b>Height:</b>
  <%= @profile.height %>
</p>

<p>
  <b>Dob:</b>
  <%= @profile.dob %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile), class: "small button radius" %>
