<%= form_for(@ingredient, remote: true) do |f| %>
    <% if @ingredient.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @ingredient.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row collapse">
      <div class="small-3 columns">
        <%= f.label :name, class: "right inline", title: "Name of the ingredient (singular)", data: {tooltip: true} %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-9 small-offset-3 columns">
        <%= f.submit %>
      </div>
    </div>
<% end %>
