<%= form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :calories %><br />
    <%= f.number_field :calories %>
  </div>
  <div class="field">
    <%= f.label :protein %><br />
    <%= f.text_field :protein %>
  </div>
  <div class="field">
    <%= f.label :carbohydrates %><br />
    <%= f.text_field :carbohydrates %>
  </div>
  <div class="field">
    <%= f.label :sugars %><br />
    <%= f.text_field :sugars %>
  </div>
  <div class="field">
    <%= f.label :saturated_fats %><br />
    <%= f.text_field :saturated_fats %>
  </div>
  <div class="field">
    <%= f.label :unsaturated_fats %><br />
    <%= f.text_field :unsaturated_fats %>
  </div>
  <div class="field">
    <%= f.label :cholesterol %><br />
    <%= f.text_field :cholesterol %>
  </div>
  <div class="field">
    <%= f.label :fibre %><br />
    <%= f.text_field :fibre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
