<div>
  <div id="notice_signed_in" class="notice hide"><%= notice %></div>
  <div id="alert_signed_in" class="alert hide"><%= alert %></div>
</div>

<h1>Weight log</h1>
<p>
<%= link_to 'Back', weight_logs_path, class: "small button radius" %>
  <b>Weight:</b>
  <%= @weight_log.weight %>
</p>

<p>
  <b>Measured on:</b>
  <%= @weight_log.measured_on %>
</p>

<%= link_to 'Edit', edit_weight_log_path(@weight_log), class: "small button radius" %>

