<p id="notice"><%= notice %></p>

<p>
  <b>Weight:</b>
  <%= @weight_log.weight %>
</p>

<p>
  <b>Measured on:</b>
  <%= @weight_log.measured_on %>
</p>

<p>
  <b>User:</b>
  <%= @weight_log.user %>
</p>


<%= link_to 'Edit', edit_weight_log_path(@weight_log) %> |
<%= link_to 'Back', weight_logs_path %>
