<h1>Weight log</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Weight:</b>
  <%= @weight_log.weight %>
</p>

<p>
  <b>Measured on:</b>
  <%= @weight_log.measured_on %>
</p>

<%= link_to 'Edit', edit_weight_log_path(@weight_log), class: "button radius"  %>
<%= link_to 'Back', weight_logs_path, class: "button radius"  %>
