<div>
  <div id="notice_signed_in" class="notice hide"><%= notice %></div>
  <div id="alert_signed_in" class="alert hide"><%= alert %></div>
</div>

<h1>Listing activities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Calories burned</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.calories_burned %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Activity', new_activity_path, class: "small button radius" %>
