<nav class="top-bar" id="nav">
  <div>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Diet Planner", root_path %></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li> <%= link_to "Home", site_index_path, :class => "#{'selected' if @tab=='site'}" %></li>
        <li> <%= link_to "Diet Planner", site_dashboard_path, :class => "#{'selected' if DIET_PLANNER.include?(@tab)}" %></li>
        <li> <%= link_to "Healthy Recipes", recipes_path, :class => " #{'selected' if @tab=='recipes'}" %></li>
        <% if current_user %>
            <li class="session"><%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "small red button radius" %></li>
            </li>

        <% else %>
            <li class="session"><%= link_to 'Register', new_registration_path(:user), :class => "small button radius #{'selected' if @tab=='register'}" %></li>
            <li class="session"><%= link_to 'Login', new_user_session_path, class: "small button radius" %></li>
        <% end %>
      </ul>
    </section>
  </div>
</nav>