<div>
  <div id="notice_signed_in" class="notice hide"><%= notice %></div>
  <div id="alert_signed_in" class="alert hide"><%= alert %></div>
</div>

<h1>Food Category</h1>
<%= link_to 'Back', food_categories_path, class: "small button radius" %>
<p>
  <b>Name:</b>
  <%= @food_category.name %>
</p>


<%= link_to 'Edit', edit_food_category_path(@food_category), class: "small button radius" %>

