<h1>Nutritional Advice</h1>
<div id="accordion">
  <h3>Calories Intake</h3>

  <div ><p><%= calories_advice %></p></div>

  <h3>Proteins</h3>

  <div><p><%= protein_advice %></p></div>

  <h3>Carbohydrates</h3>

  <div><p><%= carbohydrates_advice %></p></div>

  <h3>Sugars</h3>

  <div><p><%= sugars_advice %></p></div>

  <h3>Saturated fats</h3>

  <div><p><%= saturated_fats_advice %></p></div>

  <h3>Unsaturated fats</h3>

  <div><p><%= unsaturated_fats_advice %></p></div>

  <h3>Fibre</h3>

  <div><p><%= fibre_advice %></p></div>
</div>